@import "../../_globalColor";

.featured-projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .featured-projects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .featured-projects-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
